<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
    </head>
    <body>
        <div class="container">
            <h1>New Budget Page</h1>
            <form action="/budget" method="POST">
                <input type="text" placeholder="date" name="date" /><br/>
                <input type="text" placeholder="name" name="name" /><br/>
                <input type="text" placeholder="amount" name="amount" /><br/>
                <input type="text" placeholder="from" name="from" /><br/>
                <input type="text" placeholder="tags" name="tags" /><br/>
                <input type="submit" value="Create new item" /><br/>
            </form>
        </div>
    </body>
</html>
